body {
    background-color: #f5f3f3;
}

.info-card .precio {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.info-card .precio .descuento {
    text-decoration: line-through!important;
    font-size: 18px!important;
    margin-top: 10px!important;
}

.info-card .precio span {
    font-weight: 700;
    font-size: 22px;
}

.submenu {
    position: relative;
    top: 10px;
}

.submenu #carrito{
    display: none;
}
.submenu:hover #carrito{
    display: block;
    /*  */
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    /* min-width: 300px; */
    max-width: 600px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.066);
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width:60%;
    }
}

.btn-info{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a.borrar-ropa {
    background-color: rgb(211, 100, 100);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a.borrar-ropa:hover {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.table tbody#listaCarrito tr td {
    vertical-align: middle;
    display: table-cell;
}

.imgFitMiniatura{
    width: 150px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.imgFitFull{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

#vaciarCarrito{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vaciarCarrito svg{
    margin-right: 0.5rem;
}

.product-count{
    width: 112px;
    height: 28px;
    display: flex;
}

.product-count button.decrement{
    font-size: 1rem;
    width: 30px;
    height: 28px;
    background-color: rgb(215 215 215);
    color: rgb(51, 51, 51);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-count button.increment{
    font-size: 1rem;
    width: 30px;
    height: 28px;
    background-color: rgb(215 215 215);
    color: rgb(51, 51, 51);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-count-value{
    width: 52px;
    text-align: center;
    margin: 0px;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    border: none;
}

.ropaSeleccionada{
 
    background:url('../img/checked.png') #d4d4d4;
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;
    transition: all 0.3s ease-in-out;   
}

.ropaSeleccionada a{
    margin-right: ;
}

.ropaSeleccionada:hover{
 
    background:url('../img/checked.png') #d4d4d4;
    background-size: 30px;
    background-repeat: no-repeat;
    border: none;    

}

.activo{
    position: relative;
    overflow: hidden;
}

.activo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3131313b;
}

@media (max-width: 768px) {
   
    .contentCarrito.show {
        position: absolute!important;
        width: 400px!important;
        height: auto!important;
        overflow: hidden!important;
        top: 43px!important;
        right: 0!important;
        overflow: hidden!important;
        background: rgb(238, 238, 238)!important;
        padding: 1rem;
        box-shadow: 0px 7px 19px 4px rgb(0 0 0 / 32%)!important;
        border-radius: 0 0 5px 5px!important;
    }
    
  }

  .contentCarrito{
    position: absolute;
    width: 600px;
    height: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    top: 43px;
    right: 0;

  }

  .contentCarrito.hidde{
    background: rgba(255, 255, 255, 0);
    display: none;
  }

  .table.hidde{
    opacity: 0;
  }

  .table.show{
    opacity: 1;
  }

  .contentCarrito.show{
    position: absolute;
    width: 700px;
    height: auto;
    overflow: hidden;
    top: 43px;
    right: 0;
    overflow: hidden;
    background: rgb(238, 238, 238);
    padding: 1rem;
    box-shadow: 0px 7px 19px 4px rgb(0 0 0 / 32%);
    border-radius: 0 0 5px 5px
  }
  
  a.hidde{
    opacity: 0;
    display: none;
  }

  a.show{
    opacity:1;
    display: block;
  }

.modal-content{
    background: #2b2b2b;
    color: white;
}
.modal-header{
    border-bottom: 1px solid rgb(255 255 255 / 13%);
}
.modal-footer{
    border-top: 1px solid rgb(255 255 255 / 13%);
}

#mensaje{
    letter-spacing: 1px;
}

.contentSpinnerLoading{
    background-color: rgb(20 20 20 / 42%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg);}
  }
  
  .spinner {        
      border: 8px solid rgb(255 255 255 / 25%);
      border-left-color: hwb(42 7% 12%);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 1.2s linear infinite;
  }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

