// Intento de estructura según patrón 7–1
@import "utilities/variable";
@import "base/typo";
@import "base/reset";
@import "components/buttons";
@import "layout/header";
@import "layout/navigation";
@import "layout/footer";
@import "layout/forms";
@import "views/home";
@import "views/contact";
/* Inicio dresses */

.separador-fondo{
    background-color: #FFEEEE;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;

    h2{
        background: -webkit-linear-gradient(#ffa69e, #861657);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.paginacion a{
    padding: 0px;
}

/* Fin dresses */

/* Inicio terms */

.div-fondo-terminos{
    background-color: #FFFFFF;
}

.accordion-body, .accordion-body{
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 15vh;
    margin-right: 15vh;
    font-size: 18px;
}

 .accordion-body p{
    font-size: 1vw;
    line-height: 1vw;
    letter-spacing: 0.1vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin: 0.5vw;
}

.accordion-body li{
    padding: 0;
}

.accordion{
    --bs-accordion-border-color: #f5bcbcda;
    --bs-accordion-btn-bg: #f5bcbcda;
}


.container-about-us {
    position: relative;
    text-align: center;
    color: white;
  }
  
.centered-about-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.div-ropa{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Fin terms */

// Media Queries para responsive
@import "layout/grid";