/* Footer */

#abajo{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 2fr 0.1fr;
    align-items: center;
    background-color: $color-default-fondo;
}

.enlaces-footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    a{
        padding: 0;
    }
}

#flecha-inicio{
    background-color: rgb(167, 26, 26);
    border-radius: 100%;
    padding: 1vw;
}

#flecha-inicio:hover{
    background: -webkit-linear-gradient(rgb(204, 130, 233), rgb(150, 56, 238));
}

  @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-20px);
    }
  }

  .ir-inicio {
    animation:
      bounce 300ms
      alternate infinite
      cubic-bezier(.2, .65, .6, 1);
  }


footer {
  iframe{
    height: 10vw;
    width: 40vw;
  }
  div{
    text-align: center;
  }
}

// $redessociales:(
//   twitter: "twitter.ico",
//   facebook: "instagram.ico",
//   instagram: "instagram.ico"
// );

#redes 
{
  img{
    height: 1vw;
    width: 1vw;
  }
  p{
    font-size: 1vw;
  }

  // @each $red, $link in $redessociales{
  //   ##{$red}{
  //     background-image: url(../../img/$link);
  //   }
  // }
}

