/* Mobile First */
@media (max-width: 319px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(18vw, 25vw);
    }

    .texto-sobrepuesto{
        font-size: 14px;
    }
    .centered-about-us{
        top: 10%;
        // @include tamanios-responsive(80vw, 10vw);
    }
}


@media (min-width: 320px) and (max-width: 479px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(8vw, 18vw);
    }
    .texto-sobrepuesto{
        font-size: 16px;
    }
    .centered-about-us{
        top: 10%;
        // @include tamanios-responsive(80vw, 10vw);
    }
    
}


@media (min-width: 480px) and (max-width: 767px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(10vw, 20vw);
    }
    .texto-sobrepuesto{
        font-size: 20px;
    }
    .centered-about-us{
        top: 10%;
        // @include tamanios-responsive(80vw, 10vw);
    }
}


@media (min-width: 768px) and (max-width: 1023px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(15vw, 25vw);
    }
    .texto-sobrepuesto{
        font-size: 20px;
    }

    
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(23vw, 34vw);
    }
    h2 {
        font-size: 1.5rem;
    }
    .texto-sobrepuesto{
        font-size: 25px;
    }
    .grid-tendencia{
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (min-width: 1200px) {
    .producto img, .item-tendencia img{
        @include tamanios-responsive(25vw, 35vw);
    }
    h2 {
        font-size: 4rem;
    }
    .texto-sobrepuesto{
        font-size: 50px;
    }
    .grid-tendencia{
        grid-template-columns: repeat(3, 1fr);
    }

}

/***************************************************** FIN CODIGO PERSONALIZADO *****************************************************/