.accordion-body{
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;

    li{
        padding: 0;
    }
    
}

.accordion{
    --bs-accordion-border-color: #f5bcbcda;
    --bs-accordion-btn-bg: #f5bcbcda;
}

.accordion-button{
    font-size: 2vw;
}