.btn-outline-primary {
    --bs-btn-color: #c23333da;
    --bs-btn-border-color: #c23333da;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c23333da;
    --bs-btn-hover-border-color: #c23333da;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c23333da;
    --bs-btn-active-border-color: #c23333da;
    --bs-btn-disabled-color: #c23333da;
    --bs-btn-disabled-border-color: #c23333da;
  }

  .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c23333da;
  --bs-btn-border-color: #c23333da;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b95454da;
  --bs-btn-hover-border-color: #b95454da;
  --bs-btn-active-bg: #b95454da;
  --bs-btn-active-border-color: #b95454da;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c23333da;
  --bs-btn-disabled-border-color: #c23333da;
}