/*Inicio Acerca de nosotros */
.container-about-us {
    position: relative;
    text-align: center;
    color: $color-default-fondo;
  }
  
.centered-about-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* Fin Acerca de nosotros */