/*Inicio Acerca de nosotros */
.container-about-us {
    position: relative;
    text-align: center;
    color: $color-default-fondo;
  }
  
.centered-about-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.div-texto-acerca{
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 0.5vw;
  padding-bottom: 1vw;
}
/* Fin Acerca de nosotros */