/* Inicio dresses */

.separador-fondo{
    background-color: #FFEEEE;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;

    h2{
        @include estilo-titulo(#ffa69e, #861657);
    }
}

.paginacion a{
    padding: 0px;
}

.div-ropa{
    @include grid-columnas(3, 1fr);
}
/* Fin dresses */