
  
  .bg-img {
    background-image: url("../../img/fondo-aboutus.JPG");
    
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .login-form {
    position: absolute;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: $color-default-fondo;
    .btn-login {
      background-color: $primary;
      color: $color-default-fondo;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    
    .btn-login:hover {
      opacity: 1;
    }

    input:not(.form-check-input) {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
    }
    // Forma de especificar el tipo de inputs y aplicarle estilos sin necesidad de clases o id
    input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
      background-color: #ddd;
      outline: none;
    }
  }